body{
	background: #F5F6FA;
	width: 100%;
	height: auto;
	padding-bottom:0.6rem;
}
header{
	width: 100%;
	height: auto;
}
header>img{
	display: block;
	width: 100%;
	height: auto;
}
.logo{
	width: 100%;
	height: auto;
}
.logo>img{
	display: block;
	width: 100%;
	height: auto;
}
.banner{
	width: 100%;
	height: auto;
}
.banner>img{
	display: block;
	width: 100%;
	height: auto;
}
nav{
	width: 100%;
	height:auto;
	background: #F5F6FA;
}
nav ul{
	width: 100%;
	height: auto;
	overflow: hidden;
}
nav ul>li{
	display: block;
	width: 25%;
	height: auto;
	text-align: center;
	float: left;
}
nav ul>li>a{
	display: block;
}
.tu{
	width: 1.54rem;
	height: 1.54rem;
	border-radius: 0.3rem;
	background: #fff;
	margin-top: 0.28rem;
	margin-left: 0.16rem;
	padding-left: 0.3rem;
	padding-top: 0.3rem;
	box-sizing: border-box;
}
.tu>img{
	display: block;
	width: 0.95rem;
	height: 0.96rem;
}
nav ul>li>span{
	font-size: 0.23rem;
	line-height: 0.43rem;
}
.server{
	width: 100%;
	height: auto;
	background: #fff;
	overflow: hidden;
}
.server-top{
	width: 100%;
	height: 0.64rem;
	text-align: center;
	font-size: 0.24rem;
	line-height: 0.64rem;
	color: #1378BA;
}
.server-down ul{
	width: 100%;
    height: 2.2rem;
    border-bottom: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    box-sizing: border-box;
}
.server-down ul>li{
	display: block;
	width: 50%;
	height: 100%;
	border-right: 1px solid #e8e8e8;
    padding: 0.38rem 0rem 0.48rem 0.16rem;
    box-sizing: border-box;
    float: left;
}
.server-down ul>li .left{
	width: 1.8rem;
	float: left;
}
.server-down ul>li .left>h2{
	font-size: 0.24rem;
    font-weight: normal;
    color: #000000;
}
.server-down ul>li .left>h3{
	font-size: 0.18rem;
    font-weight: normal;
    color: #999999;
}
.server-down ul>li .right{
	width: 1.32rem;
	height: 1.31rem;
	float: left;
}
.server-down ul>li .right>img{
	width:100%;
	height: auto;
}
.server-down ul>li:nth-child(2){
	border-right: 0;
}

.server-down ol{
	width: 100%;
    height: 1.4rem;
    border-bottom: 0.01rem solid #e8e8e8;
    box-sizing: border-box;
}
.server-down ol>li{
	display: block;
	width: 33.333%;
	height: 100%;
	border-right: 0.01rem solid #e8e8e8;
    padding: 0.4rem 0 0.38rem 0.2rem;
    box-sizing: border-box;
    float: left;
} 
.server-down ol>li .left{
	width: 0.6rem;
    height: 100%;
    float: left;
} 
.server-down ol>li .left>img{
	width: 100%;
	height: auto;
} 
.server-down ol>li .right{
	width: 1.5rem;
    margin-left: 0.1rem;
    float: left;
    height: 100%;
}
.server-down ol>li .right>h2{
	font-size: 0.24rem;
    color: #000000;
    font-weight: normal;
}
.server-down ol>li .right>h3{
	font-size: 0.18rem;
    color: #999999;
    font-weight: normal;
    line-height: 0.3rem;
}
.server-down ol>li:nth-child(3){
	border-right: 0;
}
footer{
	width: 100%;
	height: 0.91rem;
    background: #fff;
    margin-top: 0.1rem;
    position: fixed;
    bottom:0;
}
.f-son1{
	width: 33.3333%;
    height: 100%;
    font-size: 0.24rem;
    color: #000;
    text-align: left;
    line-height: 0.9rem;
    background: #fff;
    padding-top: 0.3rem;
    margin-left: 0.2rem;
    box-sizing: border-box;
    float: left;
}
.f-son1>a>img{
	display: block;
	float: left;
	width: 0.32rem;
	height: 0.31rem;
}
.f-son1>a .zi>span{
	display: block;
	float: right;
    font-size: 0.26rem;
    line-height: 0.3rem;
    margin-right: 1rem;
    color: #000000;
}
.f-son2{
	width: 27.3333%;
	height: 0.92rem;
	float: left;
	background: #FF7E00;
	border-radius: 0.1rem;
}
.f-son2>a .left{
	float: left;
	margin-top: 0.3rem;
	margin-left: 0.3rem;
}
.f-son2>a .left>img{
	margin-left: 0.1rem;
	display: block;
	width: 0.33rem;
	height: 0.36rem;
}
.f-son2>a .right{
	float: left;
	margin-left: 0.1rem;
}
.f-son2>a .right>span{
	font-size: 0.26rem;
	color: #fff;
	line-height: 0.91rem;
}